@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,400;0,500;0,800;1,300&display=swap');

:root {
  --primary-color: #f3f0ea;
  --secondary-color: #bdbdbd;
  --text: #383836;
  --accent-color: #ea6d57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bitter', serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}

button {
  border: none;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 0.5rem 1.5rem;
}

.nav-item a:hover {
  color: var(--text);
}

.hero-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./images/hero.png') no-repeat center/cover;
  height: 70vh;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 4rem;
  background-color: var(--text);
  color: var(--primary-color);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #ea6d57;
  transform: scale(1.1);
}

.library-container {
  text-align: center;
  margin: 5rem auto;
}

.library-title {
  font-size: 2.5rem;
  margin: 2rem auto;
  text-align: center;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin: 2.5rem auto;
}

.library-item {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 300px;
}

.library-item-title {
  padding: 1rem 1.5rem;
}

.library-item-desc {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
}

#new-btn {
  font-weight: bolder;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

#add-game-form {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  padding: 2rem 2rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 9%;
  right: 0;
}

#add-game-form input {
  margin: 0.2rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
}

#add-game-btn {
  margin-top: 1.5rem;
}

.about-container {
  text-align: center;
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.about-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.about-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.about-info {
  width: 40%;
}

.about-text {
  margin: 1rem 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-links a:hover {
  color: var(--text);
}

.credits {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.credits a:hover {
  color: var(--accent-color);
}

.more-info-btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1.5rem 1rem;
}

.delete-btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1.5rem 1rem;
}

/* Hamburger Menu */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--text);
}

.hamburger {
  cursor: pointer;
  display: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
}

/* Media Queries */
@media screen and (max-width: 470px) {
  #new-btn {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .about-text {
    font-size: 1rem;
    line-height: 1.2;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    top: -200%;
    left: 0;
    gap: 0;
    width: 100%;
    background-color: var(--primary-color);
    transform: translateY(65%);
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    top: 0;
  }
}

@media screen and (max-width: 716px) {
  .about-info {
    width: 100%;
  }
}
